includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    tmpDir: storage/framework/cache/phpstan
    parseModelCastsMethod: true
    treatPhpDocTypesAsCertain: false
    parallel:
        maximumNumberOfProcesses: 1
